[submodule "instances"]
	path = instances/official
	url = https://github.com/MarioGrobler/PACE2025-instances.git
	shallow = true
[submodule "evalmaxsat"]
	path = playground/c++/ext/EvalMaxSAT
	url = https://github.com/FlorentAvellaneda/EvalMaxSAT.git
	shallow = true
[submodule "ortools"]
	path = playground/c++/ext/or-tools
	url = https://github.com/google/or-tools.git
	shallow = true
[submodule "playground/c++/ext/ogdf"]
	path = playground/c++/ext/ogdf
	url = https://github.com/ogdf/ogdf.git
