[submodule "instances"]
	path = instances/official
	url = https://github.com/MarioGrobler/PACE2025-instances.git
	shallow = true
[submodule "scip"]
	path = playground/c++/ext/scip
	url = https://github.com/scipopt/scip.git
[submodule "soplex"]
	path = playground/c++/ext/soplex
	url = https://github.com/scipopt/soplex.git
[submodule "evalmaxsat"]
	path = playground/c++/ext/EvalMaxSAT
	url = https://github.com/FlorentAvellaneda/EvalMaxSAT.git
[submodule "ortools"]
	path = playground/c++/ext/or-tools
	url = https://github.com/google/or-tools.git
